<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pumpkin SkinCare{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nehu
    .css') }}">
</head>
<body>

    <!-- Header -->
    {% include 'header.html' %}

    <!-- Page-specific content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    {% include 'footer.html' %}

</body>
</html>
